<div class="col-six tab-full right">
    <h3>Yetenekler</h3>

    <ul class="skill-bars">
        <li>
            <div class="progress percent90"><span>70%</span></div>
            <strong>HTML5</strong>
        </li>
        <li>
            <div class="progress percent85"><span>55%</span></div>
            <strong>CSS3</strong>
        </li>
        <li>
            <div class="progress percent70"><span>40%</span></div>
            <strong>JQuery</strong>
        </li>
        <li>
            <div class="progress percent95"><span>55%</span></div>
            <strong>Asp.Net</strong>
        </li>
        <li>
            <div class="progress percent75"><span>65%</span></div>
            <strong>Python</strong>
        </li>
        <li>
            <div class="progress percent90"><span>4%</span></div>
            <strong>Machine Learning</strong>
        </li>
    </ul>
</div>